<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="cn.hl.vo.User">
	<!-- 注册用户信息 -->
	<insert id="reg" parameterType="cn.hl.vo.User">
		insert into sys_Users values(default,#{account},#{pwd},#{state})
	</insert>
	
	<select id="getByAccount" parameterType="String" resultType="cn.hl.vo.User">
		select * from sys_users where account=#{account}
	</select>
	
	<select id="getReciverList" parameterType="String" resultType="cn.hl.vo.User">
		select * from sys_users where account !=#{account}
	</select>
</mapper>